@import "tailwindcss";

@theme {
  /* --color-paleta1: #87af4b;
  --color-paleta2: #fff9e5;
  --color-paleta3: #e6e02d;
  --color-paleta4: #f5a300;
  --color-paleta5: #ff6a00; */
  --color-descripcion: #757575;
  --color-paleta1: #091a03; /*Fondo footer verde oscuro*/
  --color-paleta2: #f1f8fe; /*Fondo medio blanco azul*/
  --color-paleta3: #f5a300; /*BOtones naranja*/
  --color-paleta4: #3c5745; /*verde claro*/
  --color-paleta5: #eeb160; /*hovers amarillo carito*/
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
  100% {
    border-color: white;
  }
}

/* Aplicamos la animación */
.typing-text {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  border-right: 4px solid white;
  padding-right: 5px;
  overflow: hidden;
  white-space: nowrap;

  /* Animaciones */
  --animate-typing: typing 2s steps(20, end) forwards, blink 0.7s infinite;
}
